@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fdf6e3;
    --background-highlights: #eee8d5;
    --text: #657b83;
    --text-emphasis: #586e75;
    --text-secondary: #93a1a1;
    --invert-accent: #002b36;
    --invert-accent-hightlights: #073642;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
    --radius: 0.5rem;
  }

  .dark {
    --background: #00252b;
    --background-highlights: #00313a;
    --text: #839496;
    --text-emphasis: #93a1a1;
    --text-secondary: #586e75;
    --invert-accent: #fdf6e3;
    --invert-accent-hightlights: #eee8d5;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-text;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
